@font-face {
  font-family: Gill;
  src: url(/fonts/GillSansMTPro-Light.otf_-_Default_File-v1_0.otf?dcd9751615ec02811532d41d054d35d7) format("opentype");
}

@font-face {
  font-family: Baskerville;
  src: url(/fonts/NewBaskerville-Roman.otf?4afff8102062f6322ab6d5c937152717) format("opentype");
}

