@font-face {
   font-family: Gill;
   src: url("../fonts/GillSansMTPro-Light.otf_-_Default_File-v1_0.otf") format("opentype");
}

@font-face {
   font-family: Baskerville;
   src: url("../fonts/NewBaskerville-Roman.otf") format("opentype");
}